*{
    /* background: #FFF; */
    margin: 0;
    padding: 0;
}
.header{
    background-image: url('../images/Banner\ Image.png');
    background-size: cover;
    background-position: center;
    width: 82%;
    max-width: 1320px;
    margin: 0 auto;
    background-repeat:no-repeat ;
    margin-top: 50px;
    border-radius: 16px;
    
}
.header-text{
    padding: 177px;
}
.header-title{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    padding-bottom: ;
    
    
}
.header-title-part{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}
